.btn {
  font-family: "DM Sans";
  align-self: center;
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  border-radius: 22px;
  padding: 10px 37px;
  margin-bottom: 20px;
  max-width: 160px;
  cursor: pointer;
  background: rgba(212, 20, 67, 1);
  background-image: linear-gradient(
    -60deg,
    transparent,
    transparent 40%,
    #ffffff44 40%,
    #ffffff44 60%,
    transparent 60%,
    transparent 100%
  );
  background-size: 200% 100%;
  background-repeat: no-repeat;
  background-position-x: 150%;

  &:hover,
  &:focus {
    background-position-x: -150%;
    transition: background-position-x 1500ms;
  }
}
