::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-track {
  background: $light-pink;
  border-radius: 0.5em;
  margin-block: 0.3em;
}

.modal::-webkit-scrollbar-track {
  background: $light-pink;
  //   border-radius: 0.5em;
  margin-block: 1em;
  width: 0.1em;
  height: 0.1em;
}

::-webkit-scrollbar-thumb {
  background: $dark-pink;
  border: 0.2em solid rgba(255, 121, 146, 50%);
  border-radius: 0.5em;

  &:hover {
    background: $light-red;
  }
}

@supports (scrollbar-color: $dark-pink $light-pink) {
  * {
    scrollbar-color: $dark-pink $light-pink;
    scrollbar-width: thin;
  }
}
